root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.cs]
indent_size = 4
tab_width = 4
max_line_length = 100
csharp_using_directive_placement = outside_namespace:warning
csharp_prefer_braces = true:warning
csharp_style_namespace_declarations = file_scoped:warning
dotnet_diagnostic.IDE0055.severity = none
dotnet_diagnostic.CA1711.severity = none
dotnet_diagnostic.CA1716.severity = none

[*.{fs,fsi,fsx}]
indent_size = 4
tab_width = 4
max_line_length = 100

[*.{csproj,fsproj,props,targets,slnx}]
indent_size = 2

[tests/**/*.cs]
dotnet_diagnostic.CA1707.severity = none
